<div class="collapsible-short">
      <img src="./../../assets/collapsible.svg" (click)="isOpen = !isOpen" [class.open]="!isOpen"/>
      <hr />
      <div class="collapsible-body">
      <img src="./../../assets/fleet.svg" />
      <img src="./../../assets/reports.svg" />
      <img src="./../../assets/track.svg" />
      <img src="./../../assets/my-fleet.svg" />
      <img src="./../../assets/dashboard.svg" />
      <img src="./../../assets/edit.svg" />
        <img src="./../../assets/our-products.svg" />
        <img src="./../../assets/dealer.svg" />
        <img src="./../../assets/eicher-sure.svg" />
        <img src="./../../assets/documents.svg" />
        <img src="./../../assets/knowledge.svg" />
      </div>

      <hr />
      <footer class="collapsible-footer">
        <img src="./../../assets/logout.svg" />
      </footer>
    </div>

    <div class="collapsible" [class.open]="isOpen">
      <div class="collapsible-heading">
        <h4>My Quick Services</h4>
        <img src="./../../assets/collapsible.svg" (click)="isOpen = !isOpen">
      </div>

      <hr />

      <div class="content">
        <div class="content-item">
          <img src="./../../assets/fleet.svg" />
          <p>Fleet Health</p>
        </div>

        <div class="content-item">
          <img src="./../../assets/reports.svg" />
          <p>Reports</p>
        </div>

        <div class="content-item">
          <img src="./../../assets/track.svg" />
          <p>Track</p>
        </div>

        <div class="content-item">
          <img src="./../../assets/dashboard.svg" />
          <p>My Dashboard</p>
        </div>

        <div class="content-item">
          <img src="./../../assets/my-fleet.svg" />
          <p>My Fleet</p>
        </div>

        <button class="edit-service">Edit / Add Service</button>

        <div class="edit-bottom">
          <div class="content-item">
            <img src="./../../assets/our-products.svg" />
            <p>Our Products</p>
          </div>

          <div class="content-item">
            <img src="./../../assets/dealer.svg" />
            <p>Locate Dealer</p>
          </div>

          <div class="content-item">
            <img src="./../../assets/eicher-sure.svg" />
            <p>Eicher Sure</p>
          </div>

          <div class="content-item">
            <img src="./../../assets/documents.svg" />
            <p>My Documents</p>
          </div>

          <div class="content-item">
            <img src="./../../assets/knowledge.svg" />
            <p>Knowledge Centre</p>
          </div>
        </div>

        <hr />

        <div class="content-item">
          <img src="./../../assets/logout.svg" />
          <p>Log Out</p>
        </div>
      </div>
    </div>