<div class="page-container">
  <header class="header">
    <img src="/assets/MyEicher_Logo.png" alt="Logo" class="logo" />

    <nav>
      <a href="javascript:void(0)" (click)="landingPage()">Home</a>
      <a href="javascript:void(0)" (click)="ourServices()">Our Services ⌄</a>
      <a href="javascript:void(0)" (click)="help()">Help and Support ⌄</a>
      <a href="javascript:void(0)" (click)="mysubscriptions()">My Subscriptions</a>
      <a>My Notifications</a>
    </nav>
    <div class="search-container">
      <input
        class="search-box"
        type="text"
        placeholder="Search users"
        [(ngModel)]="searchText"
        (input)="searchUsers()"
      />

      <div class="search-results" *ngIf="filteredUsers.length > 0">
        <div class="result" *ngFor="let user of filteredUsers" (click)="selectUser(user)">
          {{ user }}
        </div>
      </div>
    </div>
    <div class="profile">
  {{ loggedInUserName }}
</div>
  </header>

  <div class="our-services" *ngIf="showOurServices">
    <div class="heading">
      <h2>Eicher Services</h2>
    </div>
    <div class="services">
      <div class="our-services-left">
        <div class="frequently-used">
          <h4>Frequently Used</h4>
          <p>My Sites</p>
        </div>
        <div class="video-tut">
          <h4>Video Tutorials</h4>
          <p>Step-by-step feature guides</p>
          <h5>Watch Now →</h5>
        </div>
        <div class="explore">
          <h4>Explore FAQs →</h4>
          <p>Help with common queries</p>
        </div>
      </div>
      <div class="our-services-right">
        <div class="column" *ngFor="let column of menuColumns">
         <ng-container *ngFor="let section of column">

  <div class="section" *ngIf="canShowSection(section.id)">

    <h4>{{ section.title }}</h4>

    <p 
      class="item"
      *ngFor="let item of section.items"
      (click)="onItemClick(item.name)">
        {{ item.name }}
    </p>

  </div>

</ng-container>
        </div>
      </div>
    </div>
  </div>

  <div class="help" *ngIf="showHelp">
    <p>Help & Support</p>
    <p>Service Request</p>
  </div>

  <main class="page-content">
    <router-outlet></router-outlet>
  </main>

  <footer class="footer">
    <div class="logoVECV">
      <img src="/assets/logoVECV.jpeg" alt="Logo" />
    </div>
    <p>© 2026 Eicher. All Rights Reserved.</p>
  </footer>
</div>
