<div class="track-card">
            <div class="track-heading">
              <h4>Tracking</h4>
              <span class="live-status">
                <span class="live-dot"></span>
                Live
              </span>
            </div>

            <div class="tracking-content">
              <!-- Google Maps Placeholder -->
              <div class="map-container">
                <!-- Google Map will come here -->
              </div>

              <div class="tracking-right">
                <input
                  type="text"
                  placeholder="Search for any Vehicle in track"
                  class="searching"
                />

                <div class="location">
                  <button class="current-location">Current Location</button>
                  <button class="current-location">Live Location</button>
                </div>
              </div>
            </div>

            <div class="tracking-cards">
              <div class="stopped-vehicle">
                <h4>Stopped Vehicle</h4>
                <h3>223</h3>
                <select class="stopped-vehicle-dropdown">
                  <option>Last 2 Hours</option>
                  <option>Last 4 Hours</option>
                  <option>Last 8 Hours</option>
                  <option>Last 12 Hours</option>
                </select>
              </div>

              <div class="device-attention">
                <h4>Device Attention</h4>
                <h3>42</h3>
              </div>
            </div>
          </div>