@import '../login-page/login-page.css';

.login-box {
  height: auto;
  min-height: 404px;
}

.credentials {
  display: flex;
  flex-direction: column;
  width: 330px;
  gap: 16px;
}

.credentials-hint {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: rgba(52, 57, 69, 1);
}

.error {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #ed2541;
}

.needHelp {
  cursor: pointer;
}
