<div class="uptime-card">
        <div class="uptime-header">
          <h4>Uptime</h4>
          <div class="live-status">
            <span class="live-dot"></span>
            <span>Live</span>
          </div>
        </div>
        <div class="group-card">
          <div class="group-title">Service Alerts</div>
          <div class="row-item">
            <div class="left">
              <img src="./../../assets/upcoming.svg" />
              <span>Upcoming</span>
            </div>
            <div class="right">
              <h4 class="blue">213</h4>
            </div>
          </div>
          <div class="row-item">
            <div class="left">
              <img src="./../../assets/delayed.svg" />
              <span>Delayed</span>
            </div>
            <div class="right">
              <h4 class="orange">24</h4>
            </div>
          </div>
        </div>

        <div class="single-card">
          <div class="single-top">
            <div class="left">
              <img src="./../../assets/breakdown.svg" />
              <span>Breakdown</span>
            </div>
          </div>
          <div class="single-bottom">
            <h2 class="red">23</h2>
            <p>View All ↗</p>
          </div>
        </div>

        <div class="single-card">
          <div class="single-top">
            <div class="left">
              <img src="assets/inService.svg" />
              <span>In Service</span>
            </div>
          </div>

          <div class="single-bottom">
            <h2 class="blue">123</h2>
            <p>View All ↗</p>
          </div>
        </div>

        <div class="uptime-alerts">
          <div class="group-title">Uptime Alerts</div>

          <div class="row-item">
            <div class="left">
              <img src="assets/stop.svg" />
              <span>Stop Now</span>
            </div>
            <div class="right">
              <h4 class="blue">125</h4>
            </div>
          </div>
          <div class="row-item">
            <div class="left">
              <img src="assets/visit.svg" />
              <span>Visit Soon</span>
            </div>
            <div class="right">
              <h4 class="orange">65</h4>
            </div>
          </div>
          <div class="row-item">
            <div class="left">
              <img src="assets/driver.svg" />
              <span>Driver Alerts</span>
            </div>
            <div class="right">
              <h4 class="blue">128</h4>
            </div>
          </div>
        </div>
      </div>