@import './../../landing-page.css';

.uptime-card {
  background: #fff;
  border-radius: 20px;
  padding: 24px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
  font-family: 'Roboto', sans-serif;
  width: 372px;
  height: 700px;
  position: absolute;
  top: 297px;
  left: 1045px;
  border-radius: 10px;
  border-width: 1px;
  opacity: 1;
  margin-bottom: 16px;
}

.uptime-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h4 {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    color: #172033;
  }
}

.group-card {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #ececec;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.06);
  margin-bottom: 15px;
  width: 378px;
  height: 168px;
  border-radius: 10px;
  opacity: 1;
  border-bottom-width: 1px;
}

.group-title {
  background: #f5f6fb;
  padding: 18px 24px;
  font-size: 14px;
  font-weight: 700;
}

.row-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 7px;
  border-top: 1px solid #ececec;
}

.left {
  display: flex;
  align-items: center;
  gap: 18px;

  img {
    width: 34px;
    height: 34px;
  }

  span {
    font-size: 20px;
    font-weight: 600;
    color: #5e5e5e;
  }
}

.right {
  display: flex;
  align-items: center;
  gap: 22px;

  h3 {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
  }

  img {
    width: 18px;
  }
}

.single-card {
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ececec;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.06);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  width: 378px;
  height: 81px;
  opacity: 1;
}

.single-top {
  /* display:flex; */
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

.single-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 5px;
  h2 {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
  }

  p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #4b5563;
  }
}

.blue {
  color: #0d47a1;
}

.orange {
  color: #f59e0b;
}

.red {
  color: #e53935;
}

.uptime-alerts {
  height: 230px;
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #ececec;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.06);
  margin-bottom: 15px;
  width: 378px;
  border-radius: 10px;
  opacity: 1;
  border-bottom-width: 1px;
}