@import '../login-page/login-page.css';

*{
    font-family: 'Roboto', sans-serif;
}

.bgVECV{
    background-image: url(./../../assets/bgVECV2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.logoVECV {
    display: flex;
    width: 300px;
    height: 80px;
    position: absolute;
    top: 60px;
    left: 60px;
}
