.landing-content {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.trucks {
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;
  transition: transform 0.8s ease-in-out;
}

.hero-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background: linear-gradient(135deg, #dceeff, #f5fbff);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  /* width: 1368px; */
  height: 224px;
  top: 64px;
  left: 72px;
  opacity: 1;
  border-bottom-width: 1px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}

.progress-ring {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: conic-gradient(#2f5ea0 0deg 317deg, #e5e7eb 317deg 360deg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-shrink: 0;
}

.progress-ring::before {
  content: '';
  position: absolute;
  width: 90px;
  height: 90px;
  background: #fff;
  border-radius: 50%;
}

.progress-ring span {
  position: relative;
  z-index: 1;
  font-size: 24px;
  font-weight: 700;
  color: #2563eb;
}

.hero-content {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 321px;
  height: 123px;
  top: 56px;
  left: 276px;
  opacity: 1;
  margin-top: 50px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  h3 {
    /* margin-bottom: 15px; */
    color: #183153;
    margin: 0;
  }
  h4 {
    color: rgb(66, 66, 66);
    margin: 0;
  }
  p {
    color: grey;
    margin: 0;
  }
  .view-fleet {
    color: rgb(0, 0, 94);
    font-weight: 600;
    margin-top: 20px;
  }
}

.hero-image {
  /* text-align: right; */
  width: 164;
  height: 164;
  top: 15px;
  left: 17px;
  opacity: 1;
}

.hero-image img {
  width: 100%;
  max-width: 350px;
}

.cards {
  gap: 20px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.updates-card {
  width: 225px;
  height: 180px;
  padding: 16px;
  box-sizing: border-box;

  background: #fff;
  border: 1px solid #e0e9ff;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(35, 85, 212, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      margin: 0;
      font-size: 18px;
      font-weight: 700;
    }

    span {
      background: #eef2ff;
      color: #475a99;
      padding: 2px 8px;
      border-radius: 10px;
      font-size: 11px;
      font-weight: 600;
    }
  }

  .middle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .text {
      h4 {
        margin: 0;
        font-size: 36px;
        color: #475a99;
        font-weight: 700;
      }

      h5 {
        margin: 4px 0;
        font-size: 16px;
        font-weight: 600;
      }

      p {
        margin: 0;
        font-size: 13px;
        color: #6b7280;
        line-height: 18px;
      }
    }

    img {
      width: 70px;
      height: auto;
    }
  }

  button {
    width: 100%;
    height: 34px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border: none;
    border-radius: 18px;

    background: #eef2ff;
    color: #475a99;

    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
  }
}

.activate-card {
  width: 225px;
  height: 180px;
  padding: 16px;
  box-sizing: border-box;

  background: #fff;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(35, 85, 212, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      margin: 0;
      font-size: 18px;
      font-weight: 700;
    }
  }

  .middle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .text {
      p {
        margin: 0;
        font-size: 13px;
        color: #6b7280;
        line-height: 18px;
      }
    }

    img {
      width: 80px;
      height: auto;
    }
  }

  button {
    width: 100%;
    height: 34px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border: none;
    border-radius: 18px;
    border-color: rgba(135, 218, 254, 0.26);

    background: rgba(135, 218, 254, 0.26);
    color: rgba(2, 48, 255, 0.589);

    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
  }
}

.renewals-card {
  width: 225px;
  height: 180px;
  padding: 16px;
  box-sizing: border-box;

  background: #fff;
  border: 1px solid #e0e9ff;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(35, 85, 212, 0.1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      margin: 0;
      font-size: 18px;
      font-weight: 700;
    }
  }

  .middle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .text {
      h4 {
        margin: 0;
        font-size: 36px;
        color: #475a99;
        font-weight: 700;
      }

      h5 {
        margin: 4px 0;
        font-size: 16px;
        font-weight: 600;
      }

      p {
        margin: 0;
        font-size: 13px;
        color: #6b7280;
        line-height: 18px;
      }
    }
  }
}

.trackAndFleet {
  display: flex;
  flex-direction: row;
  gap: 30px;
  
}

.fleet-card {
  width: 432px;
  height: 290px;
  border-radius: 10px;
  border: 1px solid rgba(219, 219, 219, 0.3);
  box-shadow: 0 6px 18px rgba(120, 133, 151, 0.15);
  padding: 16px;
  box-sizing: border-box;
  background: #fff;
}

.fleet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  p {
    font-size: 14px;
    color: grey;
    margin: 0;
  }
}

.fleet-heading {
  display: flex;
  align-items: center;
  gap: 6px;

  h4 {
    margin: 0;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
  }

  p {
    margin: 0;
    color: #6b7280;
    font-size: 15px;
  }

  span {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0px;
    color: rgba(101, 101, 101, 1);
  }
}

.graph-space {
  width: 368px;
   height: 120px;
    
}

.fleet-boxes {
  display: flex;
  gap: 16px;
  margin-top: 10px;
  width: 378px;
  height: 60px;
}

.peak-day {
  flex: 1;
  width: 184px;
  height: 58px;
  border-radius: 10px;
  padding: 16px;
  background: linear-gradient(135deg, rgba(43, 127, 255, 0.08), rgba(97, 95, 255, 0.05));
}

.peak-info {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  margin-top: 10px;
}

.peak-info hr {
  width: 1px;
  height: 16px;
  margin: 0;
  border: none;
  background: #999;
}

.peak-day > p {
  margin: 0;
  font-size: 12px;
  color: #7b8794;
  text-transform: uppercase;
  font-weight: 600;
}

.fuelAndEnergy {
  width: 900px;
  height: 340px;
  top: 614px;
  left: 88px;
  border-radius: 10px;
  border-width: 1px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(219, 219, 219, 0.3);
  box-shadow: 0 6px 18px rgba(120, 133, 151, 0.15);
  margin-bottom: 16px;
}

.track-heading{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:20px;

  h4{
    font-size:28px;
    font-weight:600;
    margin:0;
    color:#1B1F2A;
  }
}

.live-status{
  display:flex;
  align-items:center;
  gap:8px;
  font-size:18px;
  color:#555;
}

.live-dot{
  width:10px;
  height:10px;
  border-radius:50%;
  background:#14d65c;
}

.tracking-content{
  display:flex;
  gap:20px;
  align-items:flex-start;
  margin-bottom:20px;
}

.map-container{
  width:120px;
  height:100px;
  border-radius:12px;
  border:1px solid #dcdcdc;
  background:#f7f7f7;
  flex-shrink:0;
}

.tracking-right{
  flex:1;
  display:flex;
  flex-direction:column;
  gap:15px;
  min-width:0;
}

.searching{
  width:100%;
  height:42px;
  border-radius:10px;
  border:1px solid #d9d9d9;
  padding:0 15px;
  font-size:16px;
  outline:none;
  box-sizing:border-box;
}

.location{
  display:flex;
  gap:15px;
  width:100%;
}

.current-location{
  flex:1;
  height:40px;
  border:none;
  border-radius:10px;
  background:linear-gradient(
      90deg,
      rgba(231,0,11,.04) 0%,
      rgba(193,0,7,.04) 100%
  );
  color:rgba(231,0,11,1);
  font-size:12px;
  font-weight:500;
  cursor:pointer;
}

.tracking-cards{
  display:flex;
  gap:20px;
  width:100%;
}

.stopped-vehicle,
.device-attention{
  flex:1;
  width: 220px;
  height:90px;
  padding:10px;
  border-radius:10px;
  box-sizing:border-box;
  box-shadow:0 4px 12px rgba(0,0,0,.05);

  h4{
    margin:0;
    font-size:17px;
    font-weight:600;
    color:#43506B;
  }

  h3{
    margin:0;
    font-size:25px;
    font-weight:700;
    color:#F57C00;
  }

  p{
    margin-top:8px;
    font-size:15px;
    color:#666;
  }
}

.stopped-vehicle{
  background:linear-gradient(
      135deg,
      rgba(240,108,0,.08) 0%,
      rgba(254,102,0,.05) 100%
  );
  border:1px solid rgba(240,177,0,.1);
}

.device-attention{
  background:linear-gradient(
      135deg,
      rgba(122,122,122,.08) 0%,
      rgba(173,110,110,.05) 100%
  );
  border:1px solid rgba(174,174,174,.1);

  h3{
    color:#5A5A5A;
  }
}

.uptime-card{
  background:#fff;
  border-radius:20px;
  padding:24px;
  box-shadow:0 4px 18px rgba(0,0,0,.08);
  font-family: 'Roboto', sans-serif;
  width: 312px;
height: 646px;
top: 308px;
left: 1040px;
border-radius: 10px;
border-width: 1px;
opacity: 1;

}

.uptime-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:20px;

  h4{
    margin:0;
    font-size:28px;
    font-weight:700;
    color:#172033;
  }
}

.live-status{
  display:flex;
  align-items:center;
  gap:8px;
  font-size:18px;
  font-weight:600;
  color:#6B7280;
}

.live-dot{
  width:16px;
  height:16px;
  border-radius:50%;
  background:#22C55E;
}

.group-card{
  display: flex;
  flex-direction: column;
  background:#fff;
  border:1px solid #ECECEC;
  box-shadow:0 3px 12px rgba(0,0,0,.06);
  margin-bottom:15px;
  width: 320px;
height: 168px;
border-radius: 10px;
opacity: 1;
border-bottom-width: 1px;

}

.group-title{
  background:#F5F6FB;
  padding:18px 24px;
  font-size:14px;
  font-weight:700;
}

.row-item{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0px 7px;
  border-top:1px solid #ECECEC;

}

.left{
  display:flex;
  align-items:center;
  gap:18px;

  img{
    width:34px;
    height:34px;
  }

  span{
    font-size:20px;
    font-weight:600;
    color:#5E5E5E;
  }
}

.right{
  display:flex;
  align-items:center;
  gap:22px;

  h3{
    margin:0;
    font-size:40px;
    font-weight:700;
  }

  img{
    width:18px;
  }
}

.single-card{
  background:#fff;
  border-radius:10px;
  border:1px solid #ECECEC;
  box-shadow:0 3px 12px rgba(0,0,0,.06);
  padding-top:10px;
  padding-bottom: 10px;
  margin-bottom:15px;
  width: 320px;
height: 81px;
opacity: 1;

}

.single-top{
  /* display:flex; */
  justify-content:space-between;
  align-items:center;
  margin-left: 10px;
}

.single-bottom{
  display:flex;
  justify-content:space-between;
  align-items:flex-end;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 5px;
  h2{
    margin:0;
    font-size:40px;
    font-weight:700;
  }

  p{
    margin:0;
    font-size:14px;
    font-weight:600;
    color:#4B5563;
  }
}

.blue{
  color:#0D47A1;
}

.orange{
  color:#F59E0B;
}

.red{
  color:#E53935;
}

.landing-page-left{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.uptime-alerts{
  height: 184px;
  display: flex;
  flex-direction: column;
  background:#fff;
  border:1px solid #ECECEC;
  box-shadow:0 3px 12px rgba(0,0,0,.06);
  margin-bottom:15px;
  width: 320px;
border-radius: 10px;
opacity: 1;
border-bottom-width: 1px;


}