.landing-content {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.landing-page {
  display: flex;
  align-items: flex-start;
}

.trackAndFleet {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.landing-page-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

