<div class="page-container">
  <header class="header">
    <div class="logo">
      <img src="./../../assets/logo.svg" alt="Logo" />
    </div>

    <nav>
      <a href="javascript:void(0)" (click)="ourServices()">Our Services ↓</a>
      <a href="javascript:void(0)" (click)="help()">Help and Support ↓</a>
      <a>My subscriptions</a>
      <a>My notifications</a>
    </nav>
    <input class="search" type="text" />
  </header>

  <div class="our-services" *ngIf="showOurServices">
    <div class="heading">
      <h2>Eicher Services</h2>
    </div>
    <div class="services">
      <div class="our-services-left">
        <div class="frequently-used">
          <h4>Frequently Used</h4>
          <p>My Sites</p>
        </div>
        <div class="video-tut">
          <h4>Video Tutorials</h4>
          <p>Step-by-step feature guides</p>
          <h5>Watch Now →</h5>
        </div>
        <div class="explore">
          <h4>Explore FAQs →</h4>
          <p>Help with common queries</p>
        </div>
      </div>
      <div class="our-services-right">
        <div class="column" *ngFor="let column of menuColumns">
          <div class="section" *ngFor="let section of column">
            <h4>
              {{ section.title }}
              <!-- <span *ngIf="section.badge">{{ section.badge }}</span> -->
            </h4>
            <p class="item" *ngFor="let item of section.items">
              {{ item.name }}
            </p>
          </div>
        </div>
        <!-- <div *ngFor="let x of data">
          <div class="fleet-tracking" *ngIf="x.title === 'Fleet Tracking'">
            <h4>{{ x.title }}</h4>
            <p *ngFor="let item of x.items">{{ item.name }}</p>
            <div class="uptime-management" *ngIf="x.title === 'Uptime Management'">
            <h4>{{ x.title }}</h4>
            <p *ngFor="let item of x.items">{{ item.name }}</p>
            </div>
          </div>

          <div class="fleet-monitoring" *ngIf="x.title === 'Fleet Monitoring'">
            <h4>{{ x.title }}</h4>
            <p *ngFor="let item of x.items">{{ item.name }}</p>
            <div class="alerts" *ngIf="x.title === 'Alerts'">
            <h4>{{ x.title }}</h4>
            <p *ngFor="let item of x.items">{{ item.name }}</p>
          </div>

          </div>

          <div class="fuel-management" *ngIf="x.title === 'Fuel Management'">
            <h4>{{ x.title }}</h4>
            <p *ngFor="let item of x.items">{{ item.name }}</p>
          </div>

          <div class="trip-management" *ngIf="x.title === 'Trip Management'">
            <h4>{{ x.title }}</h4>
            <p *ngFor="let item of x.items">{{ item.name }}</p>
          </div>

          <div class="Reports" *ngIf="x.title === 'Reports'">
            <h4>{{ x.title }}</h4>
            <p *ngFor="let item of x.items">{{ item.name }}</p>
          </div>

          <div class="smart-sol" *ngIf="x.title === 'Smart Solutions'">
            <h4>{{ x.title }}</h4>
            <p *ngFor="let item of x.items">{{ item.name }}</p>
          </div>
        </div> -->
      </div>

      <!-- <div class="fleet-tracking">
                <h4>Fleet Tracking</h4>
                <p>Location sharing</p>
                <div class="my-organisation">
                <h4>My Organisation</h4>
                <p>Manage Team</p>
                <p>My site</p>
                <p>My Documents</p>
            </div>
        </div>
            <div class="alerts">
                <h4>Alerts</h4>
                <p (click)="showAlerts()">My alerts</p>
            </div>
            <div class="smart-sol">
                <h4>Smart Solutions</h4>
                <p>API Service</p>
                <p>VLTD & AIS 140 Certification</p>
                <p>VLTD Certificate</p>
            </div>
        </div>
        </div>
    </div> -->

      <div class="help" *ngIf="showHelp">
        <p>Help & Support</p>
        <p>Service Request</p>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="logoVECV">
    <img src="./../../assets/logoVECV.jpeg" alt="Logo" />
  </div>
  <p>© 2026 Eicher. All Rights Reserved.</p>
</footer>
