.heading{
    font-family: 'Roboto', sans-serif;
    h2{
        color: rgb(0, 0, 94);
        font-style: bold;
        font-weight: 700;
        padding: 10px;
    }

    .navbar{
        color: grey;
    }

    .nav{
        color: grey;
        display: flex;
        flex-direction: row;
        gap: 80px;
        padding: 10px;
    }

    .a:hover{
        color: rgb(0, 0, 94);
        cursor: pointer;

    }
}